<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Tnum" value="15"/>
		<add key="Path" value= "C:\\Users\\POSADMIN\\source\\repos\\MultithreadDownloader\\MultithreadDownloader\\bin\\Debug\\net7.0"/>
		<add key="ProxyRule" value="0"/>
		<add key="OutOfProxyRule" value="0"/>
		
	</appSettings>
</configuration>