<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Path" value= "C:\\Users\\Odmen\\source\\repos\\MultithreadDownloader\\MultithreadDownloader\\bin\\Debug\\net7.0"/>
		<add key="TempPath" value= "C:\\Users\\Odmen\\source\\repos\\MultithreadDownloader\\MultithreadDownloader\\bin\\Debug\\net7.0"/>
		<add key="ProxyRule" value="2"/>
		<add key="OutOfProxyRule" value="1"/>
		<add key="ProxyFileName" value="proxylist.txt"/>
		<add key="MaxReconnections" value="3"/>
	</appSettings>
</configuration>