<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
  <add key="ProxyRule" value="0" />
  <add key="OutOfProxyRule" value="1" />
  <add key="ProxyFileName" value="proxylist.txt" />
  <add key="MaxReconnections" value="3" />
 </appSettings>
	
</configuration>